html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
@font-face {
  font-family: 'DeltaruneFont';
  src: url('undertale-deltarune-text-font-extended.otf
') format('otf'),
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
